.user-form{

    /*width: 100%;*/
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.h3{
    font-family: -apple-system;
}
.avatar{
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}